{% extends 'base_index.html' %} {% block content %} {% with messages =
get_flashed_messages(with_categories=true) %} {% if messages %}
<div class="flash-container">
  {% for category, message in messages %}
  <div class="flash {{ category }}">
    {{ message }}
    <button
      class="close-btn"
      onclick="this.parentElement.style.display='none';"
    >
      &times;
    </button>
  </div>
  {% endfor %}
</div>
{% endif %} {% endwith %}

<div class="table-title">
  <h1>Klientai</h1>
  <div class="add-new">
    <a href="{{ url_for('new_client') }}">Pridėti</a>
  </div>
</div>
<div class="table">
  <table border="1" cellpadding="8" cellspacing="0">
    <thead>
      <tr>
        <th>Įmonė</th>
        <th>Įmonės Kodas</th>
        <th>Adresas</th>
        <th>Tel. Numeris</th>
        <th>El. Paštas</th>
        <th>Redaguoti</th>
      </tr>
    </thead>
    <tbody>
      {% if clients %} {% for client in clients %}
      <tr>
        <td>{{ client.company }}</td>
        <td>{{ client.company_code }}</td>
        <td>{{ client.address }}</td>
        <td>{{ client.phone_number }}</td>
        <td>{{ client.email }}</td>
        <td>
          <a
            href="{{ url_for('edit_client', client_id=client.id) }}"
            style="text-decoration: none"
          >
            📝
          </a>
        </td>
      </tr>
      {% endfor %} {% else %}
      <tr>
        <td colspan="6" style="text-align: center">Nėra Klientų</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}
